.App {
  text-align: center;
  padding: 30px;
  background-color: #1b1c1d;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  color: white;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
body{
  border-style: solid ;
  border-color: coral;
}
button {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  body {
    padding: 15px;
  }
}