:root {
	--mainBG: rgb(17, 0, 20);
	--textLIGHT: rgb(198, 255, 208);
	--textMED: #53627c;
	--textDARK: #1e2432;
	--red: #ff1e42;
	--DARKred: #c3112d;
	--orange: #ff8c00;
}

.city-tile{
	border-color: #ff1e42;
	border-style: solid;
}