.top-banner form {
	position: relative;
	display: flex;
	justify-content: center;
}

.top-banner form input {
	font-size: 2rem;
	height: 40px;
	padding: 5px 5px 10px;
	border-bottom: 1px solid;
}

.top-banner form input::placeholder {
	color: currentColor;
}

.top-banner form button {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 15px 20px;
	margin-left: 15px;
	border-radius: 5px;
	background: var(--red);
	color: var(--textDARK);
	transition: background 0.3s ease-in-out;
}

.top-banner form button:hover {
	background: var(--DARKred);
}

.top-banner form .msg {
	bottom: -40px;
	left: 0;
	max-width: 450px;
	min-height: 40px;
}